**/.ipynb_checkpoints
**/__pycache__
*.png
*.zip
*.mp4
*.npy
*.npz
*.dae
data/
data/nerf*
data/static
logs/*
log/*
scripts.sh
data/ScalarReal_2frame/info.json
*.ply
*.lprof
debug/*
my_configs/*
my_nerfacc
.nfs*
test*.txt
*.jpg

data/*.tar.gz
data/experiments
data/*/tmp_mask
data/Cyl_flow_thing

*.err
*.out
*.sh
*.so
out*.txt

scripts
mpi_output
*.obj
